<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

{% load static %}

    <h1>List of Persons</h1>


    <form method="POST">
        <ul>
            {% for person in persons %}
            <li>
             Id: {{ person.id }}<br>
             {{ person.first_name }} {{ person.last_name }}
                <ul>
                    <li><a class="tooltip" data-text="redirect to edit a this person" href="/edit-person/{{ person.pk }}">edit person</a></li>
                    <li><a class="tooltip" data-text="redirect to delete a this person" href="/del_person/{{ person.pk }}">del person</a></li>
                </ul>
            </li>
            {% endfor %}
        </ul>

        <a class="tooltip" data-text="redirect to the person making page" href="/add-person/">Add a new person</a>
    </form>

<script src="{% static 'app.js' %}"></script>

{% endblock %}
</body>
</html>
