<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'base.html' %}

{% block content %}

    <h1>List of Persons</h1>


    <form method="POST">
        <ul>
            {% for person in persons %}
            <li>
             Id: {{ person.id }}<br>
             {{ person.first_name }} {{ person.last_name }}
                <ul>
                    <li><a href="/edit-person/{{ person.pk }}">edit person</a></li>
                    <li><a href="/del_person/{{ person.pk }}">del person</a></li>
                </ul>
            </li>
            {% endfor %}
        </ul>

        <a href="/add-person/">Add a new person</a>
    </form>
{% endblock %}
</body>
</html>
